#container {
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}