#container {
    flex-direction: column;
    justify-content: space-evenly;
    
}

.row {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1px;
    margin-bottom: 1px;
}

.box {
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}